<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Google map</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="../dist/gmap-minimum-ui.css">
    <script src="https://maps.googleapis.com/maps/api/js?libraries=drawing,places"></script>
    <script src="../bower_components/js-marker-clusterer/src/markerclusterer.js"></script>
</head>
<body ng-app="Application">
<div ng-controller="TestController">
    <!--<script type="text/ng-template" id="template.html">
        <div>{{$infoWND.infoWindowName}} - {{$infoWND.anchor.id}}</div>
    </script>-->
    <script type="text/ng-template" id="place.html">
        <div>{{$infoWND.place.name}}</div>
    </script>
    <!--<script type="text/ng-template" id="infowindow.html">
        <div class="info-window-container">
            <div class="title">{{mvcObject.title}}</div>
            <div>
                <div>
                    <label>title</label>
                    <input type="text" ng-model="mvcObject.title"/>
                </div>
                <div>
                    <label style="color: {{mvcObject.fillColor}}">fill color</label>
                    <input type="text" ng-model="mvcObject.fillColor"/>
                </div>
                <div>
                    <label style="color: {{mvcObject.strokeColor}}">stroke color</label>
                    <input type="text" ng-model="mvcObject.strokeColor"/>
                </div>
                <div class="set-class">
                    <label>stroke weight</label>
                    <input type="text" ng-model="mvcObject.strokeWeight"/>
                </div>
                <div>
                    <label>fill opacity</label>
                    <input ng-model="mvcObject.fillOpacity"/>
                </div>
                <div>
                    <label>z-index</label>
                    <input type="number" ng-model="mvcObject.zIndex"/>
                </div>
                <button ng-click="applyConfig(mvcObject)">Save</button>
            </div>
        </div>
    </script>-->
    <!--<script type="text/ng-template" id="dropdown.html">
        <div class="custom-holder">
            <span class="custom-title" title="it's google baby <(^_^)>">G(.)(.)gle</span>
            <div gmap-dropdown gmap-dropdown-items="polyLineTypes" on-dropdown-select-item="onSelectPolyLineType"></div>
        </div>
    </script>-->
    <logicify-gmap
            center="gmOpts.center"
            gm-options="gmOpts"
            gm-ready="ready"
            css-options="cssOpts">
        <gmap-auto-complete
                auto-complete-place-holder="placeHolder"
                default-zoom-on-placeChange="16"
                gmap-on-place-changed="onPlaceChanged"
                auto-complete-control-position="autoCompleteControlPosition"
                enable-auto-complete-type-selectors="true"
                enable-default-marker="enableDefaultMarker"
                on-reverse-address-complete="onReverseAddressComplete">
        </gmap-auto-complete>
        <!--<logicify-gmap-control
                control-position="position"
                control-index="1"
                events="controlEvents">
            <input type="file"/>
        </logicify-gmap-control>
        <xml-overlays
                kml-collection="kmlCollection"
                gmap-events="kmlEvents"
                info-window="overlaysInfowindow">
        </xml-overlays>
        <logicify-gmap-draw
                gmap-events="draw.events"
                draw-options="draw.options">
            <gmap-extended-draw
                    line-types-control-position="lineTypesControlPosition"
                    gmap-dropdown-template-url="dropDownTemplate"
                    override-line-types="overrideLineTypes"
                    on-after-drawing-overlay="onAfterDraw"
                    gmap-color-picker=""
                    color-picker-control-position="colorPickerControlPosition"
                    enable-opacity-range="true">
            </gmap-extended-draw>
        </logicify-gmap-draw>-->
    </logicify-gmap>
</div>
<script type="text/javascript" src="../dist/geoxml3.js"></script>
<script type="text/javascript" src="../node_modules/angular/angular.js"></script>
<script type="text/javascript" src="../dist/logicify-gmap.js"></script>
<script type="text/javascript" src="custom.js"></script>
</body>
</html>