/*dropdown select line type*/
.gmap-dropdown-holder {
    margin: 5px;
    height: 16px;
}

.gmap-dropdown-header {
    background-color: #ffffff;
    width: 100%;
    border-radius: 5px;
    height: 19px;
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
}

.gmap-nav {
    height: 0;
}

.gmap-nav:hover {
    height: auto;
}

.gmap-nav li:hover {
    background-color: #afafaf;
}

.gmap-nav li {
    padding: 2px 5px 5px;
    list-style-type: none;
    cursor: pointer;
    border-radius: 5px;
}

.gmap-nav ul {
    padding: 0;
    border-radius: 5px;
    margin: 0;
    min-width: 50px;
    background-color: #fefcff;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);

    -webkit-transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transition: -webkit-transform 0.26s ease-out;
    -o-transition: -o-transform 0.26s ease;
    -ms-transition: -ms-transform 0.26s ease;
    transition: transform 0.26s ease;
}

.gmap-nav.dropup ul {
    margin-top: -25px;
}

[gmap-dropdown] {
    bottom: 5px !important;
}

.gmap-nav:not(.dropup):not(.clicked):hover ul {
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}

.gmap-nav.dropup:not(.clicked):hover ul {
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
}

/*color picker*/
.gmap-color-picker-container {
    margin-bottom: 5px;
    margin-top: 5px;
}

.gmap-color-picker-container input {
    height: 20px;
    cursor: pointer;
    float: left;
}

.gmap-color-picker-container input[type="color"] {
    border-radius: 5px;
}

.gmap-color-picker-container .toggle-color-button {
    width: 100px;
    height: 24px;
    margin-right: 5px;
    float: left;
    background-color: #fefffd;
    border-radius: 5px;
    border: none;
}

.gmap-color-picker-container .toggle-color-button:hover {
    cursor: pointer;
    background-color: #c0ccce;
}

.gmap-color-picker-container .toggle-color-button:active {
    background-color: #8a8887;
}

/*autocomplete*/
.autocomplete-control-container {
    margin: 5px;
}

#gmap-type-selector {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    float: right;
    margin-left: 5px;
    height: 22px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
    background-color: #ffffff;
}

#gmap-type-selector label:hover {
    font-weight: 400;
}

#gmap-auto-complete-input {
    border-radius: 5px;
    font-size: 14px;
}

#gmap-auto-complete-input {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    /*margin: 5px 1px 3px 0px;*/
    border: 1px solid #DDDDDD;
}

#gmap-auto-complete-input:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    /*margin: 5px 1px 3px 0px;*/
    border: 1px solid rgba(81, 203, 238, 1);
}